mixin installationForm
    tr.table__header__row
        th(colspan="5") 고객정보
    tr
        td 고객명
        td
            input(type="text",value=installation.customerName, name="customerName", required=true)
        td 연락처
        td(colspan="2")
            input(type="text",value=installation.customerPhone, name="customerPhone", required=true)
    tr
        td iSell no.
        td
            input(type="number",value=installation.isellNumber, name="isellNumber", required=true)
        td IHP
        td(colspan="2")
            input(type="text",value=installation.ihpNumber, name="ihpNumber", required=true)
    tr.address__cell
        td 주소
        td(colspan="4")
            input(type="text",value=installation.installationAddress, name="installationAddress", required=true)
    tr.table__header__row
        th(colspan="5") 서비스 내용
    tr
        td 예약 배송일
        td(colspan="4")
            if installation.reservationDate
                input(type="date", value=dateFormatter("yyyy-MM-dd", installation.reservationDate), name="reservationDate", required=true)
            else
                input(type="date", value=currentDate, name="reservationDate", required=true)
    tr
        td 실제 배송일
        td(colspan="4")
            if installation.deliveryDate
                input(type="date", value=dateFormatter("yyyy-MM-dd", installation.deliveryDate), name="deliveryDate", required=true)   
            else
                input(type="date", value=currentDate, name="deliveryDate", required=true)   
    tr
        td METOD 설치일
        td(colspan="4")
            if installation.installaionDate
                input(type="date", value=dateFormatter("yyyy-MM-dd", installation.installaionDate), name="installaionDate", required=true)
            else
                input(type="date", value=currentDate, name="installaionDate", required=true)
    tr
        td METOD 설치 비용
        td(colspan="4")
            input(type="number", value=installation.installationCost, name="installationCost", required=true)
            span 원
    if installation.cmwCheck === "checked"
        tr.table__header__row
            th(colspan="5") CMW ( <i class="fas fa-times", style="color:red"></i> : 
                input.cmw__check(type="checkbox", value=installation.cmwCheck, name="cmwCheck", checked)
                span  )
        tr.cmw__row.disabled
            td CMW 설치일
            td(colspan="4")
                if installation.cmwDate
                    input.cmw__input(type="date", value=dateFormatter("yyyy-MM-dd", installation.cmwDate), name="cmwDate")
                else
                    input.cmw__input(type="date", value=currentDate, name="cmwDate")
        tr.cmw__row.disabled
            td CMW 설치 비용
            td(colspan="2")
                input.cmw__input(type="number", value=installation.cmwInstallationCost, name="cmwInstallationCost")
                span 원
            td CMW 재료 비용
            td
                input.cmw__input(type="number", value=installation.cmwCost, name="cmwCost")
                span 원
    else
        tr.table__header__row
            th(colspan="5") CMW ( <i class="fas fa-times", style="color:red"></i> : 
                input.cmw__check(type="checkbox", value="uncheck", name="cmwCheck")
                span  )     
        tr.cmw__row
            td CMW 설치일
            td(colspan="4")
                if installation.cmwDate
                    input.cmw__input(type="date", value=dateFormatter("yyyy-MM-dd", installation.cmwDate), name="cmwDate")
                else
                    input.cmw__input(type="date", value=currentDate, name="cmwDate")
        tr.cmw__row
            td CMW 설치 비용
            td(colspan="2")
                input.cmw__input(type="number", value=installation.cmwInstallationCost, name="cmwInstallationCost")
                span 원
            td CMW 재료 비용
            td
                input.cmw__input(type="number", value=installation.cmwCost, name="cmwCost")
                span 원
    tr.table__header__row
        th(colspan="5") 도어 / 조리대 / 싱크 / 쿡탑
    tr
        td 도어
        td(colspan="2").td__having__options.doorName__cell
            select(name="doorName")
                each item in doors
                    - var selectedDoorName = installation.doorName;
                    if(item.name === selectedDoorName)
                        option(value=item.name selected)=item.name
                    else
                        option(value=item.name)=item.name
        td 조리대
        td.td__having__options.countertops__cell
            select(name="countertop")
                each item in countertops
                    - var selectedCountertop = installation.countertop;
                    if(item.name === selectedCountertop)
                        option(value=item.name selected)=item.name
                    else
                        option(value=item.name)=item.name
    tr
        td(rowspan="2") 싱크 & 수전
        td(colspan="2").td__having__options.sinks__cell
            //- input(type="text", value=installation.sink, name="sink", required=true)
            select(name="sink")
                each item in sinks
                    - var selectedSink = installation.sink;
                    if(item.name === selectedSink)
                        option(value=item.name selected)=item.name
                    else
                        option(value=item.name)=item.name
        td 시공 방식
        td.td__having__options.howToSink__cell
            select(name="howToSink")
                each item in howToSink
                    - var selectedHowToSink = installation.howToSink;
                    if(item.type === selectedHowToSink)
                        option(value=item.type selected)=item.name
                    else
                        option(value=item.type)=item.name
    tr
        td(colspan="2").td__having__options.taps__cell
            select(name="tap")
                each item in taps
                    - var selectedTap = installation.tap;
                    if(item.name === selectedTap)
                        option(value=item.name selected)=item.name
                    else
                        option(value=item.name)=item.name
        td 조명
        td.td__having__options.lighting__cell
            select(name="lighting")
                - var selectedLighting = installation.lighting;
                if(selectedLighting === "dontLighting")
                    option(value="dontLighting" selected) ❌
                    option(value="doLighting") ⭕
                else
                    option(value="dontLighting") ❌
                    option(value="doLighting" selected) ⭕
    tr.table__header__row
        th(colspan="5") 후드/조명
    tr
        td 후드
        td
            input(type="text", value=installation.hood, name="hood", required=true)
        td 쿡탑
        td(colspan="2")
            input(type="text", value=installation.cooktop, name="cooktop", required=true)
    tr.table__header__row
        th(colspan="5") 변경 사항
    tr
        td(colspan="5").textarea__cell.change__text
            textarea(name="changeText")=installation.changeText
    if installation.notPurchasedCheck === "checked"
        tr.table__header__row.not__purchased__header__row
            th(colspan="4") 미구매
            td.not__purchased__td
                label(for="notPurchasedCheck") 미구매 없음
                    input.np__checkbox(type="checkbox", value=installation.notPurchasedCheck, name="notPurchasedCheck", checked)
        tr.not__purchased__row
            td article no.
            td(colspan="4") 제품명
                button(type="button").not__purchased__add <i class="fas fa-plus-circle"></i>
        if installation.articleNumber
            each item in installation.articleNumber
                tr.not__purchased__row.not__purchased__top.disabled
                    td.not__purchased__article__number
                        input.not__purchased__input(type="number", value=item, name="articleNumber")
                    td(colspan="4").not__purchased__article__name
                        input.not__purchased__input(type="text", value="", name="articleName" disabled)
                        button.delete__button(type="button") <i class="fas fa-minus-circle"></i>
        else
            tr.not__purchased__row.not__purchased__top.disabled
                    td.not__purchased__article__number
                        input.not__purchased__input(type="number", value="", name="articleNumber")
                    td(colspan="4").not__purchased__article__name
                        input.not__purchased__input(type="text", value="", name="articleName" disabled)
    else
        tr.table__header__row.not__purchased__header__row
            th(colspan="4") 미구매
            td.not__purchased__td
                label(for="notPurchasedCheck") 미구매 없음
                    input.np__checkbox(type="checkbox", value="uncheck", name="notPurchasedCheck")
        tr.not__purchased__row
            td article no.
            td(colspan="4") 제품명
                button(type="button").not__purchased__add <i class="fas fa-plus-circle"></i>
        if installation.articleNumber
            each item in installation.articleNumber
                tr.not__purchased__row.not__purchased__top
                    td.not__purchased__article__number
                        input.not__purchased__input(type="number", value=item, name="articleNumber")
                    td(colspan="4").not__purchased__article__name
                        input.not__purchased__input(type="text", value="", name="articleName" disabled)
                        button.delete__button(type="button") <i class="fas fa-minus-circle"></i>
        else
            tr.not__purchased__row.not__purchased__top
                    td.not__purchased__article__number
                        input.not__purchased__input(type="number", value="", name="articleNumber")
                    td(colspan="4").not__purchased__article__name
                        input.not__purchased__input(type="text", value="", name="articleName" disabled)
    tr.table__header__row.singularity__row
        th.logging(colspan="5") 특이 사항
    tr
        td(colspan="5").textarea__cell.singularity__text
            textarea(name="singularityText")=installation.singularityText
                
    
                
                    
                
                
