extends layouts/main
block content
    .user__info
        .user__info__icon
            h4
                i.fas.fa-user-circle
        .user__info__text
            h4=user.name
            h4=user.email
        .user__profile__buttons
            if loggedUser
                if user.id === loggedUser.id
                        a(href=`/users${routes.editProfile}`)
                            button Edit Profile
                        a(href=`/users${routes.changePassword}`)
                            button Change Password
        .created__by__user
            .user__installations
                h4 설치 구매
                each installation in user.installations
                    .installation__list__block
                        a(href=routes.installationDetail(installation.id))
                            span.create_date=dateFormatter("yyyy-MM-dd",installation.createDate)
                            span.customer_name 고객명: #{installation.customerName}
            .user__mnps
                h4 실측/플래닝
                each mnp in user.mnps
                    .mnp__list__block
                        a(href=routes.mnpDetail(mnp.id))
                            span.create_date=dateFormatter("yyyy-MM-dd", mnp.createDate)
                            span.customer_name 고객명: #{mnp.customerName}