header.header
    .header__wrapper
        .header__column
            if !loggedUser
                a(href=routes.homeLogin)
                    i.fas.fa-tools
            else
                a(href=routes.home)
                    i.fas.fa-tools
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join)
                            span JOIN
                else
                    li
                        a(href=routes.me)
                            span#userName=loggedUser.name
                    li
                        a(href=routes.logout)
                            span LOG OUT
