header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                span.logo wto
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join)
                            span JOIN
                    li
                        a(href=routes.login)
                            span LOGIN
                else
                    li
                        a(href=routes.me)
                            span#userName=loggedUser.name
                    li
                        a(href=routes.logout)
                            span LOG OUT
        
